<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>Текущие задачи:</h1>
<ul>
    {% for i in tasks %}
    <li><a href="{% url 'my_app:my_task' i.id%}">{{ i.title }}</a></li>
    {% endfor %}
</ul>
{% if request.user.is_authenticated %}
<div>Вы вошли как {{ request.user.username }}</div>
<div><a href="{% url 'my_app:add_task' %}">Добавить</a></div>
<div><a href="{% url 'my_app:logout' %}">Выйти из учётной записи</a></div>
{% else %}
<div><a href="{% url 'my_app:login' %}">Авторизация</a></div>
<div><a href="{% url 'my_app:register' %}">Регистрация</a></div>
{% endif %}
</body>
</html>